* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    position: relative;
}

#page-container {
    width: 100%;
    padding-top: 8rem;
}

/* Search Fields and Layout */
.event-search-container {
    width : 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
hr {
    width: 80%;
}
.search-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin : 2rem;
}

.search-input {
    border: 2px #D2D1D1 solid;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-right: 0.5rem;
}

.date-input {
    width: 4rem;
}

#event-genre-input {
    margin-left : 0.5rem;
}

/* Search Item (container): item label, item input field */
.search-item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-input-label {
    color : #9762A5;
    margin-left: 0.5rem;
    margin-right : 0.5rem;
}

#event-search-input {
    width : 40vw;
    font-size: medium;
    padding: 1rem;
    box-sizing: border-box;
    border: 2px #D2D1D1 solid;
    border-radius: 1rem;
}

#event-search-button {
    padding: 1rem;
    width: 5rem;
    margin: 0; 
    color: #9762A5;
    background-color: white;
    font-size: medium;
}

/* Result Display */

.event-results-container {
    width : 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 8rem;
}

/* Search Result card display */
.event-result-card {
    position: relative;
    width : 70%;
    padding : 1rem;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.event-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 4rem;
}
.event-info div {
    width: 50%;
}
.btn-add-result {
    position: absolute;
    margin: 1rem;
    bottom: 0;
    right: 0;
    width: 20%;
}
.result-header {
    color : #D2D1D1;
    font-size: 1.5rem;
    margin-bottom: 0;
}
.result-url {
    display: inline-block;
    margin : 1rem 0;
    color:#9762A5;
}
.result-date-range {
    color:#9762A5;
}
.result-venue {
    color:#9762A5;
}
.result-title {
    font-weight: bold;
    font-size: 1.5rem;
}
.event-result-card hr {
    width: 100%;
}
.event-info hr {
    color : #D2D1D1;
    width: 100%;
    
}
.fa-info-circle, .event-info-title {
    color : #989898;
    font-size: large;
}

@media (max-width: 776px) {
    #event-search-input {
        width: 60vw;
    }
    .search-input-label {
        color : #9762A5;
        margin-left: 0.5rem;
        margin-right : 0.5rem;
    }
    .event-result-card {
        font-size: 0.8rem;
        width: 95%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .event-info {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 4rem;
    }
    .btn-add-result {
        width: 60%;
    }
}


#datelabel {
    color: #9762A5;
    font-size: medium;
}

input,
label {
    margin: .4rem 0;
}

input,
#date {
    border: 2px #D2D1D1 solid;
    color: grey;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-right: 0.5rem;
}

#toggleFilters {
    margin: 0 auto;
    display: block;
    margin-bottom: 2rem;
}
