body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  padding: 10rem;
  position: relative;
}

button {
  width: 15rem;
  height: 3rem;
  color: white;
  border: none;
  border-radius: 3px;
  background-color: #9762A5;
  transition: 0.3s all;
  margin-bottom: 3rem;
  margin-top: 1.5rem;
}

button:hover {
  background-color: #65416D;
  cursor: pointer;
}

.field {
  width: 15rem;
  height: 3rem;
  padding-left: 0.5rem;
  border: 1px solid rgba(121, 121, 121, 0.3);
  border-radius: 1rem;
  background-color: rgba(246, 246, 246, 0.564);
  transition: 0.3s all;
}

.error-input {
  border : 1px solid indianred;
  background-color: rgba(205, 92, 92, 0.2);
}

.input-header {
  margin-left: 0;
  width: 15rem;
  margin-bottom: 3px;
  font-weight: 500;
  margin-top: 1.5rem;
}

.btn-register {
  background-color: rgba(91, 2, 116, 0.975);
  color: white;
  padding: 25px 25px;
  text-decoration: none;
  border-radius: 10px;
}

.btn-register:hover {
  background-color: goldenrod;
  color: rgba(91, 2, 116, 0.975);
}

button:hover {
  background-color: goldenrod;
  color: rgba(91, 2, 116, 0.975);
  }

.header {
  position: absolute;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  top: 0;
  left: 0;
  padding-left: 1rem;
  width : 100%;
  background-color: #9762A5;
  color : white;
}

.header-links {
  margin-right: 3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header-links a {
  color : white;
  text-decoration: none;
  padding: 1rem;
}

.highlight-link {
  border : 1px solid white;
  border-radius: 1rem;
  font-weight: bold;
}

#footer {
  background-color: rgb(235, 233, 233);
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #333;
}

.instructions {
  margin : 0;
  padding : 0;
  color : rgb(133, 133, 133);
  font-size: small;
  width : 15rem;
}

.warning-message {
  display: none;
  color : indianred;
  font-size: small;
  width : 15rem;
}