body {
  min-height: 100vh;
  position: relative;
}

  h2 {
    margin-bottom: 1rem;
    font-weight: 300;
  }
  #create-proposal-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2.5rem;

  }
  textarea {
  width: 700px;
  }
  button:hover {
    background-color: goldenrod;
    color: rgba(91, 2, 116, 0.975);
    }

  .title {
    font-weight: 500;
  }

  .principal {
      font-weight: 800;
      padding: 15px 15px;
      color: white;
      border: none;
      border-radius: 10px;
      background-color: rgba(91, 2, 116, 0.975);
      margin-top: 1rem;
  }

  .add {
    font-weight: 800;
    color: rgba(91, 2, 116, 0.975);
    border: none;
    background-color: white;
  }

  .add:hover {
    color: black;
    border-radius: 20px;
    padding: 3px;
  }

  .btn-row {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .principal {
    margin-right : 1rem;
  }


  @media (max-width : 991px) {
    .header {
      font-size: 1.5em;
    }
    #create-proposal-page > h1 {
      font-size: 4rem;
    }
    .title {
      font-size : 3rem;
    }
    .input-header {
      font-size: 2.5rem;
      width : 100%;
      margin: 2rem;
    }
    .field-input {
      width : 25rem;
      font-size: 2rem;
    }
    #btn-event-find {
      width : 20rem;
      height : 5rem;
      font-size : 2rem;
    }
    .btn-row {
      margin-top: 2rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .principal {
      width : 20rem;
      height : 5rem;
      font-size : 2rem;
    }
    #footer {
      font-size: 1.5em;
      height : 4.5rem;
    }
  }