<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <display-name>Project2</display-name>
  <listener>
    <listener-class>csci310.AppServletContextListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>csci310.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>csci310.servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchEventsServlet</servlet-name>
    <servlet-class>csci310.servlets.SearchEventsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreateProposalServlet</servlet-name>
    <servlet-class>csci310.servlets.CreateProposalServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteProposalServlet</servlet-name>
    <servlet-class>csci310.servlets.DeleteProposalServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetAllUsersServlet</servlet-name>
    <servlet-class>csci310.servlets.GetAllUsersServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SaveDraftProposalServlet</servlet-name>
    <servlet-class>csci310.servlets.SaveDraftProposalServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RemoveInviteeFromSentProposalServlet</servlet-name>
    <servlet-class>csci310.servlets.RemoveInviteeFromSentProposalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchEventsServlet</servlet-name>
    <url-pattern>/searchEvents</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateProposalServlet</servlet-name>
    <url-pattern>/createProposal</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteProposalServlet</servlet-name>
    <url-pattern>/deleteProposal</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetAllUsersServlet</servlet-name>
    <url-pattern>/GetAllUsersServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveDraftProposalServlet</servlet-name>
    <url-pattern>/saveDraftProposal</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemoveInviteeFromSentProposalServlet</servlet-name>
    <url-pattern>/removeInviteeFromSentProposal</url-pattern>
  </servlet-mapping>

</web-app>